@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mate SC", serif;
  overflow: hidden;
}

h1 {
  position: absolute;
  top:10px;
  left: 40%;
}

.panel-container {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sliding-panel {
  position: relative;
  margin: 10px;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 0.5;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 700ms ease-in;
}

.sliding-panel > h3 {
  color: chartreuse;
  opacity: 0;
  font-size: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.sliding-panel.active {
  flex-grow: 3;
}

.sliding-panel.active > h3 {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

@media (max-width: 850px) {
  .panel-container {
    width: 100vw;
  }

  .sliding-panel:nth-of-type(5),
  .sliding-panel:nth-of-type(6) {
    display: none;
  };
}